<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/profilePic.jpg" class="img-fluid" id="profilepic">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="name">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h3>Sobre mí</h3>
            <p>En la búsqueda de mi primer empleo en el rubro.
                Siempre busco saber cómo funcionan las cosas y aprender nuevos conceptos.</p>
        </span>
    </div>
</div>