<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../" class="img-fluid" id="profilepic">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="name">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h3>Sobre mí</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi corrupti impedit voluptates corporis omnis quod esse inventore, exercitationem nisi ab tempora fugiat id est vero nesciunt quaerat minus reprehenderit doloremque.</p>
        </span>
    </div>
</div>