<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreProj">Nombre</label>
                    <input type="text" class="form-control" id="nombreProj" name="nombreProj" [(ngModel)]="nombreProj" required>
                </div>
            </form>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="descripcionProj">Descripción</label>
                    <input type="text" class="form-control" id="descripcionProj" name="descripcionProj" [(ngModel)]="descripcionProj" required>
                </div>
                <button class="btn btn-info">
                    Agregar proyecto
                </button>
            </form>
        </div>
    </div>
</div>