<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Trabajo 1</h3> - <h5>(years)</h5>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In, nobis iste eveniet illo facilis tempore quaerat eos, velit temporibus impedit consequuntur esse fugiat placeat iure cupiditate at minus. Placeat, vel!</p>
        </ul>
        <ul>
            <li>
                <h3>Trabajo 2</h3> - <h5>(years)</h5>
             </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In, nobis iste eveniet illo facilis tempore quaerat eos, velit temporibus impedit consequuntur esse fugiat placeat iure cupiditate at minus. Placeat, vel!</p>
        </ul>
        <ul>
            <li>
                <h3>Trabajo 3</h3> - <h5>(years)</h5>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In, nobis iste eveniet illo facilis tempore quaerat eos, velit temporibus impedit consequuntur esse fugiat placeat iure cupiditate at minus. Placeat, vel!</p>
        </ul>
    </div>
</div>